.body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.header-section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.header-writtrn-section {
    width: 100%;
    margin-top: 20px;
}

.header-writtrn-section p {
    color: rgb(70, 72, 75);
}

.header-writtrn-section .btn {
    font-size: 17px;
    padding: 8px 25px;
    background: linear-gradient(#e66465, #9198e5);
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    color: #fff;
}

.header-writtrn-section h1 {
    font-size: 50px;
}

span {
    color: orange;
}

.header-div {
    width: 50%;
    padding: 40px;
}

.header-div img {
    width: 100%;
    width: 90%;
}

.drem-section {
    display: flex;
    margin-top: 70px;
}

.drem-section img {
    width: 90%;
    height: 90%;
    padding: 40px;
}

.two-card-section {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.card-section h1 {
    margin: 4% 5%;
}

.card-one {
    width: 40%;
    margin: 5%;
    box-shadow: 5px 7px 40px grey;
    height: 80%;
    padding: 40px 15px;
    border-radius: 0px 10px 10px 0;
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice: 1;
}